# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Production Build Output
dist/

# TypeScript Build Info
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
